{
  "root": true,
  "parser": "babel-eslint",
  "rules": {
    "react/no-multi-comp": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off"
  },
  "env": {
    "browser": true
  },
  "extends": "airbnb"
}
